@import '_functions.scss';
@import '_media-queries.scss';

.btn {
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    min-width: 200px;
    transition: all .3s ease;
    border: 0;
    text-transform: uppercase;
    background: #9A762D;
    color: #fff;
    font-weight: 600;
    font-size: em(16);
    padding: em(19) em(5);
    &:hover {
        color: #fff;
        background: #CAA94F;
        &:active {
            color: #fff;
            background: #d49e09;
        }
    }
    &:disabled {
        pointer-events: none;
        opacity: .5;
    }
    &.btn-empty {
        &:hover {
            
            &:active {
                
            }
        }
    }

    &[style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;"] {
        transition: all .3s ease !important;
    }
}

textarea {
    resize: vertical;
    min-height: em(85);
}
input, textarea, select {
    width: 100%;
    transition: border .3s ease;
    appearance: none;
    border: 1px solid #E0E0E0;
    background: #fff;
    color: #000;
    padding: em(18) 0;
    font-size: em(16);
    margin-bottom: em(10);
    font-family: inherit;
    $placeholder_color: #BDBDBD;
    &:focus {
        border-color: #9A762D;
    }
    &[type="file"] {
        &::file-selector-button {
            background-color: #B0D2AB;
            border: none;
            color: #fff;
            cursor: pointer;
        }

        &::-webkit-file-upload-button {
            background-color: #9A762D;
            color: #fff;
            padding: em(4) em(13);
            border-radius: 6px;
            border: 1px solid #9A762D;
            cursor: pointer;
        }
    }
    &[type='date'] {
        appearance: unset;
        // background: url(../img/calendar.svg) right 19px top 55% / 14px no-repeat;
        // &::-webkit-calendar-picker-indicator {
        //     opacity: 0;
        // }
    }
    &[type='number'] {
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: none; 
            margin: 0; 
        }
    }
    &::-webkit-input-placeholder {
        color: $placeholder_color;
    }
    &::-moz-placeholder {
        color: $placeholder_color;
    }
    &:-ms-input-placeholder {
        color: $placeholder_color;
    }
    &:-moz-placeholder {
        color: $placeholder_color;
    }
    &[readonly] {
        cursor: not-allowed;
    }
    &[type='checkbox'] {
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: relative;
        border-radius: 2px;
        border-color: #B8B8B8;
        padding: 0;
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 5px;
            left: 4px;
            width: 7px;
            height: 6px;
            opacity: 0;
            transition: all .3s ease;
            background: url(../img/check.svg) center / contain no-repeat;
        }
        &:checked {
            &:after {
                opacity: 1;
            }
        }
        &.switch {
            width: 30px;
            height: 20px;
            border-radius: 50px;
            transition: all .3s ease;
            background: #B8B8B8;
            border: 0;
            &:after {
                top: 2px;
                left: 2px;
                border-radius: 100%;
                background: #fff;
                opacity: 1;
                width: 16px;
                height: 16px;
            }
            &:checked {
                background: #00BE13;
                &:after {
                    transform: translateX(10px);
                }
            }
        }
    }
    &[type='radio'] {
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: relative;
        border-radius: 100%;
        border-color: #B8B8B8;
        padding: 0;
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 4px;
            left: 4px;
            width: 6px;
            height: 6px;
            opacity: 0;
            border-radius: 100%;
            transition: all .3s ease;
            background: #B8B8B8;
        }
        &:checked {
            &:after {
                opacity: 1;
            }
        }
    }
}

select {
    appearance: unset;
    // background: #fff url(../img/arrow.svg) right 7px top 55%/14px no-repeat;
    cursor: pointer;
}

form.check-validation {
    input, textarea, select {
        &:invalid {
            border-color: #ED1C24;
        }
    }
}
