/* <div class="
    grid-container
    grid-col-4 grid-col-2[600] grid-col-3[1024]

    For grid item: .span-col-2, .span-row-2 ...
*/

$breakpoints: 1024, 950, 900, 850, 800, 600, 500;
$max-cols: 4;

.grid-container {
  display: grid;
}

@for $i from 1 through $max-cols {
  .grid-col-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
  .span-col-#{$i} {grid-column: span $i / auto}
  .span-row-#{$i} {grid-row: span $i / auto}
}

@each $bp in $breakpoints {
  @media (max-width: #{$bp}px) {
    @for $i from 1 through $max-cols {
      .grid-col-#{$i}\[#{$bp}\] {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}