@import '_functions.scss';
@import '_media-queries.scss';

section.seo-text {
    font-size: em(16);
    color: #000;
    // letter-spacing: em(1);
    font-family: inherit;
    video,
    iframe {
      margin: 0 auto;
      display: block;
    }
    p {
      margin-bottom: em(15, 16);
      font-size: inherit;
      letter-spacing: inherit;
      font-family: inherit;
      color: inherit;
    }
    &.indent {
      h1 ~ p {
        text-indent: 1.5em;
      }
    }
    ul,
    ol {
      margin-bottom: em(5, 16);
      font-size: inherit;
      font-family: inherit;
      letter-spacing: inherit;
      color: inherit;
    }
    ul {
      list-style: inside disc;
    }
    ol {
      list-style: inside decimal;
    }
    li {
      margin-bottom: em(5, 16);
      font-size: inherit;
      font-family: inherit;
      letter-spacing: inherit;
      color: inherit;
    }
    p *,
    li * {
      font-size: inherit;
      letter-spacing: inherit;
      color: inherit;
      font-family: inherit;
    }
    a:not(.btn) {
      text-decoration: underline;
    }
    a:not(.btn):hover {
      text-decoration: none;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    table {
      width: 100%;
      tr {
        border-bottom: 1px solid #eeedfe;
      }
      th,
      td {
        padding: em(10) em(5);
        text-align: left;
        &:not(:last-child) {
          border-right: 1px solid #eeedfe;
        }
      }
    }
    h1 {
      font-size: em(30, 16);
      margin-bottom: em(10, 16);
      margin-top: em(5, 16);
      &:first-child {
        margin-top: 0;
      }
    }
    h2 {
      font-size: em(28, 16);
      margin-bottom: em(10, 16);
      margin-top: em(5, 16);
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
      font-size: em(26, 16);
      margin-bottom: em(10, 16);
      margin-top: em(5, 16);
    }
    h4 {
      font-size: em(24, 16);
      margin-bottom: em(10, 16);
      margin-top: em(5, 16);
    }
    h5 {
      font-size: em(22, 16);
      margin-bottom: em(10, 16);
      margin-top: em(5, 16);
    }
    h6 {
      font-size: em(20, 16);
      margin-bottom: em(10, 16);
      margin-top: em(5, 16);
    }
}

section.page-404 {
  text-align: center;
  min-height: calc(var(--vh, 100vh));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    font-size: em(22);
    margin-bottom: em(15, 22);
  }
}