@import '_default.scss';
@import '_keyframes.scss';
@import '_form-components.scss';
@import '_text-sections.scss';
@import '_media-queries.scss';
@import '_functions.scss';
@import '_grid.scss';

.accordion {
    .item {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: em(15, 24) 0;
            font-weight: 500;
            font-size: em(24);
            line-height: 160%;
            @include _550 {
                font-size: em(20);
                padding: em(15, 20) 0;
            }
            svg {
                flex-shrink: 0;
                transition: all .3s ease;
                margin-left: em(15);
                @include _550 {
                    width: 19px;
                }
            }
        }
        .content {
            display: none;
            transition: box-shadow .3s ease;
            font-weight: 500;
            line-height: 160%;
            p {
                padding: em(15) 0;
            }
        }
        &.active {
            .header {
                svg {
                    flex-shrink: 0;
                    transform: rotate(-180deg);
                    path {
                        transform: translateX(4px) translateY(11px);
                        d: path('M29 8H0H0');
                    }
                }
            }
        }
    }
}

.tab-container {
    .tab-nav {
        display: flex;
        span {
            display: block;
            width: 100%;
            transition: all .3s ease;
            cursor: pointer;
            text-align: center;
            padding: 15px;
            border-bottom: 2px solid transparent;
            &.active {
                border-color: #000;
            }
        }
    }
    .tab-content {
        .item {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}

.swiper-pagination {
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        border: 1px solid #dedede;
        background: transparent;
        opacity: 1;
        &-active {
            background: #d4a85d;
            border-color: #d4a85d;
        }
    }
}

.preloader {
    // common style in html for fast loading
    &.active {
        opacity: 0;
        visibility: hidden;
    }
}

#totop {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    position: fixed;
    right: 42px;
    bottom: 15px;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #003C7D;
    display: flex;
    padding: 7px 7px 7px;
    z-index: 99;
    @include _767 {
        right: 27px;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.fancybox__backdrop {
    background: rgba(0, 0, 0, .65);
    backdrop-filter: blur(7px);
}
.fancybox__slide {
    padding: em(30);
}
.modal {
    max-width: 500px;
    padding: em(50);
    [data-modal-closer] {
        position: absolute;
        right: em(10);
        top: em(10);
    }
}

.title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: em(48);
    line-height: 130%;
    @include _500 {
        font-size: em(36);
    }
}


header {
    &.fixed-header {

    }
    .logo {
        display: flex;
        img {
            width: 100%;
        }
    }
    .burger {
        $bar-width: 35px;
        $bar-height: 2px;
        $bar-spacing: 7px;
        $bar-color: #fff;
        position: relative;
        background: $bar-color;
        transition: all 0ms 300ms;
        margin: 0 em(15);
        flex-shrink: 0;
        display: none;
        @include _767 {
            display: flex;
        }
        &,
        &:after,
        &:before {
            width: $bar-width;
            height: $bar-height;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: $bar-spacing;
            background: $bar-color;
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: $bar-spacing;
            background: $bar-color;
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &.active {
            background: transparent !important;
            &:after {
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            &:before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }
    nav {
        @include _767 {
            position: absolute;
            left: 0;
            top: em(50);
            width: 100%;
            background: #fff;
            display: none;
        }
        & > ul {
            @include _767 {

            }
            & > li {
                list-style: none;
                position: relative;
                a {
                    &.active,
                    &:hover {

                    }
                }
                ul {
                    position: absolute;
                    left: 0;
                    top: em(20);
                    opacity: 0;
                    visibility: hidden;
                    li {

                    }
                }
                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}