@import '_default.scss';
@import '_keyframes.scss';
@import '_forms-modals.scss';
@import '_text-sections.scss';
@import '_media-queries.scss';
@import '_functions.scss';


header {
    &.fixed-header {
        
    }
    .logo {
        display: flex;
        img {
            width: 100%;
        }
    }
    .burger {
        $bar-width: 35px;
        $bar-height: 2px;
        $bar-spacing: 7px;
        $bar-color: #fff;
        $breakpoint: 1000px;
        position: relative;
        background: $bar-color;
        transition: all 0ms 300ms;
        margin: 0 em(15);
        flex-shrink: 0;
        display: none;
        @media(max-width: $breakpoint) {
            display: flex;
        }
        &,
        &:after,
        &:before {
            width: $bar-width;
            height: $bar-height;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: $bar-spacing;
            background: $bar-color;
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: $bar-spacing;
            background: $bar-color;
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &.active {
            background: transparent !important;
            &:after {
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            &:before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }
    nav {
        @include _767 {
            position: absolute;
            left: 0;
            top: em(50);
            width: 100%;
            background: #fff;
            display: none;
        }
        & > ul {
            @include _767 {
                
            }
            & > li {
                list-style: none;
                position: relative;
                a {
                    &.active,
                    &:hover {
                        
                    }
                }
                ul {
                    position: absolute;
                    left: 0;
                    top: em(20);
                    opacity: 0;
                    visibility: hidden;
                    li {

                    }
                }
                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}


.accordion {
    .item {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: em(15, 24) 0;
            font-weight: 500;
            font-size: em(24);
            line-height: 160%;
            @include _550 {
                font-size: em(20);
                padding: em(15, 20) 0;
            }
            svg {
                flex-shrink: 0;
                transition: all .3s ease;
                margin-left: em(15);
                @include _550 {
                    width: 19px;
                }
            }
        }
        .content {
            padding: em(15, 16);
            display: none;
            transition: box-shadow .3s ease;
            font-weight: 500;
            font-size: em(16);
            line-height: 160%;
        }
        &.active {
            .header {
                svg {
                    flex-shrink: 0;
                    transform: rotate(-180deg);
                    path {
                        transform: translateX(4px) translateY(11px);
                        d: path('M29 8H0H0');
                    }
                }
            }
        }
    }
}


.tab-container {
    .tab-nav {
        display: flex;
        span {
            display: block;
            width: 100%;
            transition: all .3s ease;
            cursor: pointer;
            text-align: center;
            padding: 15px;
            border-bottom: 2px solid transparent;
            &.active {
                border-color: #000;
            }
        }
    }
    .tab-content {
        .item {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}


.title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: em(48);
    line-height: 130%;
    @include _500 {
        font-size: em(36);
    }
}