@import '_keyframes.scss';
@import '_forms-modals.scss';

@import '_functions.scss';

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;
}
html {
    -webkit-tap-highlight-color: transparent;
}
body {
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    background: #D6D6D6;
}
::-webkit-scrollbar-thumb {
    background-color: #003C7D;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar {
    width: 10px;
}

.preloader {
    position: fixed;
    left: 0;
    z-index: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: #fff;
}

a {
    color: inherit;
    display: inline-block;
}

.holder {
    max-width: em(1230);
    margin: 0 auto;
    padding: 0 em(15);
    width: 100%;
}
.grid-container {
    display: grid;
}
.flex-container {
    display: flex;
    align-items: center;
}

header {
    &.fixed-header {
        
    }
    .logo {
        display: flex;
        img {
            display: block;
            width: 100%;
        }
    }
    .burger {
        $bar-width: 35px;
        $bar-height: 2px;
        $bar-spacing: 7px;
        $bar-color: #fff;
        $breakpoint: 1000px;
        position: relative;
        background: $bar-color;
        transition: all 0ms 300ms;
        margin: 0 15px;
        display: none;
        @media(max-width: $breakpoint) {
            display: flex;
        }
        &,
        &:after,
        &:before {
            width: $bar-width;
            height: $bar-height;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: $bar-spacing;
            background: $bar-color;
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: $bar-spacing;
            background: $bar-color;
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &.active {
            background: transparent;
            &:after {
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            &:before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }
    nav {
        ul {
            li {
                list-style: none;
                a {
                    &:hover {
                        
                    }
                }
            }
        }
    }
}


.accordion {
    .item {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 15px;
            svg {
                flex-shrink: 0;
                transition: all .3s ease;
                margin-left: 15px;
            }
        }
        .content {
            padding: 15px;
            display: none;
            transition: box-shadow .3s ease;
        }
        &.active {
            .header {
                svg {
                    flex-shrink: 0;
                    transform: rotate(-180deg);
                }
            }
        }
    }
}


.tab-container {
    .tab-nav {
        display: flex;
        span {
            display: block;
            width: 100%;
            transition: all .3s ease;
            cursor: pointer;
            text-align: center;
            padding: 15px;
            border-bottom: 2px solid transparent;
            &.active {
                border-color: #000;
            }
        }
    }
    .tab-content {
        .item {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}